<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>세이버매트릭스</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="main-header">
        <div class="header-top">
            <h1>롯데자이언츠 데이터 매트릭스</a>
        </div>
        <div class="main-bottom">
            <div class="menu-bar-wrapper">
                <div class="menu-wrapper">
                    <span class="text">메뉴1</span>
                </div>
                <div class="menu-wrapper">
                    <span class="text">메뉴2</span>
                </div>
                <div class="menu-wrapper">
                    <span class="text">메뉴3</span>
                </div>
                <div class="menu-wrapper">
                    <span class="text">메뉴4</span>
                </div>
                <div class="menu-wrapper">
                    <span class="text">메뉴5</span>
                </div>
                <div class="menu-wrapper">
                    <span class="text">메뉴6</span>
                </div>
                <div class="menu-wrapper">
                    <span class="text">메뉴7</span>
                </div>
                <div class="menu-wrapper">
                    <span class="text">메뉴8</span>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main-box-wrapper">
            <div class="main-box">
                <div class="main-box1">
                    <div class="box-header">
                        <span>구단 순위</span>
                    </div>
                    <div class="box_main">
                        <table class="table-main">
                            <thead class="box-menu">
                                <tr>
                                    <th>팀명</th>
                                    <th>경기</th>
                                    <th>승</th>
                                    <th>무</th>
                                    <th>패</th>
                                    <th>승률</th>
                                    <th>게임차</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach(row => { %>
                                    <tr>
                                        <td id="bold-text"><%= row.team %></td>
                                        <td><%= row.game %></td>
                                        <td id="bold-text"><%= row.win %></td>
                                        <td><%= row.draw %></td>
                                        <td><%= row.lose %></td>
                                        <td><%= row.winrate %></td>
                                        <td><%= row.game_behind %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="main-box1">
                    <div class="box-header">
                        <span>구단 WAR 상위 10명</span>
                    </div>
                    <div class="box-main">
                        <table class="table-main2">
                            <thead class="box-menu">
                                <tr>
                                    <th>순위</th>
                                    <th>이름</th>
                                    <th>포지션</th>
                                    <th>정렬WAR</th>
                                    <th>WAR</th>
                                    <th>WAA_BT</th>
                                    <th>WAA_SB</th>
                                    <th>WAA_BR</th>
                                    <th>WAA_DEF</th>
                                    <th>REF_WINS</th>
                                    <th>POS_WINS</th>
                                    <th>WAA_P_GS</th>
                                    <th>WAA_P_GR</th>
                                    <th>REP_WIN_P_GS</th>
                                    <th>REP_WIN_P_GR</th>
                                    <th>WAR_GS</th>
                                    <th>WAR_GR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data2.forEach(row2 => { %>
                                    <tr>
                                        <td id="bold-text"><%= row2.num %></td>
                                        <td><%= row2.name %></td>
                                        <td><%= row2.team %></td>
                                        <td id="bold-text"><%= row2.sort_war %></td>
                                        <td><%= row2.war %></td>
                                        <td><%= row2.waa_bt %></td>
                                        <td><%= row2.waa_sb %></td>
                                        <td><%= row2.waa_br %></td>
                                        <td><%= row2.waa_def %></td>
                                        <td><%= row2.rep_wins %></td>
                                        <td><%= row2.pos_wins %></td>
                                        <td><%= row2.waa_p_gs %></td>
                                        <td><%= row2.waa_p_gr %></td>
                                        <td><%= row2.rep_win_p_gs %></td>
                                        <td><%= row2.rep_win_p_gr %></td>
                                        <td><%= row2.war_gs %></td>
                                        <td><%= row2.war_gr %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="main-box">
                <div class="main-box1">
                    <div class="box-header">
                        <span>구단 타자 순위</span>
                    </div>
                </div>
                <div class="main-box1">
                    <div class="box-header">
                        <span>구단 투수 순위</span>
                    </div>
                </div>
            </div>
            <div class="main-box">
                <div class="main-box1">
                    <div class="box-header">
                        <span>최근 경기 결과입니다.</span>
                    </div>
                </div>
                <div class="main-box1">
                    <div class="box-header">
                        <span>다음 경기 일정</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
